
.sticky-top {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1020;
}
.site-header {
    background-color: rgba(90, 50, 90, .5);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}
.py-1 {
    padding-bottom: .25rem!important;
}
.container {
    max-width: 960px;
    margin-left: auto;
}
.site-header a {
    color: #111 ;
    transition: ease-in-out color .15s;
}
.pb-2, .py-2 {
    padding-bottom: .5rem!important;
}
.pt-2, .py-2 {
    padding-top: .5rem!important;
}
